<!DOCTYPE html>
<html ng-app="pgSchedule">
<head>
	<title>PG Schedule App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body ng-controller="mainController">

<div class="container text-center">
	<div class="jumbotron">
		<h1>Porter-Gaud Schedule Web App</h1>
	</div>
	{{timeUntil}}
	<table class="table table-striped table-bordered">
		<tr>
			<td class="danger">Class Name</td>
			<td class="danger">Period</td>
			<td class="danger">Time</td>
		</tr>
		<tr ng-repeat="class in currentDay">
			<td>The Class Name</td>
			<td>{{class["name"]}}</td>
			<td>{{class["start-time"]}}-{{class["end-time"]}}</td>
		</tr>
	</table>
	

</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="js/angularCore.js"></script>
</body>
</html>
