body {
  font-family:"jaf-bernino-sans-condensed", "HelveticaNeue-Light", Arial;
}
/*button {
  display: inline-block;
  font-size: 25px;
  font-weight: normal;
  border: 0px solid;
  border-radius: 10px;
  background-color: #680006;
  color:white;
  margin: 2px;
  width: 200px;
  height: 75px;
}*/
table {
  border-collapse: collapse;
}
table, td, th {
  border: 1px transparent;
}
/*.button {
  display: inline-block;
  font-size: 25px;
  font-weight: normal;
  border: 0px solid;
  border-radius: 10px;
  background-color: #680006;
  color:white;
  margin: 2px;
  width: 200px;
  height: 75px;
}*/
/*.red {
  color: #680006;
}*/
/*.gray {
  color: #949698;
}*/
/*.redBackground {
  background-color: #680006;
  color: white;
}
.redBackground:hover {
  color: #eeeeee;
}*/
.header {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "jaf-bernino-sans-condensed", Arial;
}
/*a {
  color: #00008B;
}*/
