doctype html
html(ng-app='pgSchedule')
head
  title PG Schedule App
  link(rel='stylesheet', href='/css/all.min.css')
body(ng-controller='mainController')
  .container.text-center
    h1(style="font-size: 350%;") Porter-Gaud 
      if upper
        | Upper School Schedule
      else 
        | Middle School Schedule
    hr
    h3(ng-if='!weekend') {{dateString}}
    h2(ng-if='weekend') It's a weekend!
    table.table.table-striped.table-bordered(style="width:60%; margin: 0 20% 0 20%;" ng-if='!weekend')
      thead
        tr
          td Period
          td Time
      tbody
        tr(ng-repeat='class in currentDay.day' ng-class='{danger: class.name == currentBlock}')
          td {{class['name']}}
          td {{ beautifyTime(class['start-time']) }}-{{beautifyTime(class['end-time'])}}
    br
    a(href='http://www.myschooldining.com/portergaud/?cmd=menus' target='_blank')
      button(class='btn btn-danger')
        h4 Lunch
    a(href='http://www.portergaud.edu/page.cfm?p=1372')
      button(class='btn btn-danger' style="margin-left: 10px;")
        h4 Announcements
    //- button.btn.btn-danger(ng-click='getFutureDate' style='margin-left: 10px;')
    //-   h4 Get Future Date
    hr
    footer(style="text-align: center;")
      p 
        if upper
          a(href='/middle')
           b Switch to Middle School schedule
        else
          a(href='/')
            b Switch to Upper School schedule
        br
        a(href='/api/') API
        |  | 
        a(href='https://github.com/ireallydontcare/pg-schedule') Source
        |  | 
        a(href='https://github.com/ireallydontcare/pg-schedule/graphs/contributors') Contributors
    script(src='/js/all.min.js')
    unless production
      script(src='/js/angularCore.js')
