doctype html
html(ng-app='pgSchedule' lang='en')
  head
    title Porter-Gaud Schedule | Manage
    meta(name='theme-color' content='red')
    meta(name='apple-mobile-web-app-capable' content='yes')
    link(rel='mask-icon' href='pg.svg' color='red')
    unless production
      link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/all.min.css')
    link(rel='stylesheet', href='/css/manage.min.css')
    link(rel='stylesheet', href='/css/manage.css')
  body
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li: a(href='#' style='color: black'): b: h4 Manage
            li.active: a(href='#') Alternate Schedules
        .col-sm9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1(style='font-size: 150%;') Alternate Schedules
          hr
          if status
            .div.alert(class=(status.indexOf('success') > -1 ? 'alert-success' : 'alert-danger'))
              if status.indexOf("success") > -1
                b Success! 
                if status == "rsuccess"
                  | The alternate schedule has been removed.
                else
                  | The alternate schedule has been uploaded.
              else
                b Error: 
                if status == "nofile"
                  | No file was specified.
                if status == "internal"
                  | An internal error occurred.  Please email 
                  a(href="mailto:tgalloway18@portergaud.edu") pballenger21@portergaud.edu
                  |  with details.
                if status == "type"
                  | The schedule must be in PDF format.

          .form-group(style='width:25%;')
            label: b Select a date:
            .input-group.date#datepicker
              input.form-control(type='text')
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          #specialView(style='display:none')
            h3#date DATE
            #specialUpperDiv
              h2#upper UPPER
              iframe#specialFrameUpper(width="600" height="775")
            #specialMiddleDiv
              h2#middle MIDDLE
              iframe#specialFrameMiddle(width="600" height="775")
            br
            br
            h2 Overwrite/upload schedule:&nbsp;
            label To upload a schedule for the other division, just choose it.
            form(id='uploadOverwrite' action="/manage/upload" method="POST" enctype="multipart/form-data")
              input#input(type='file' name="altSchedule")
              input#hiddenDate(value='dateInput' name="date" class='hidden')
              br
              .btn-group(data-toggle='upper')
                label.btn.btn-secondary.btn.btn-primary.btn-sm
                  input#option1(type='radio', name='upper', autocomplete='off', value='upper', checked='')
                  |  Upper School
                label.btn.btn-secondary.btn.btn-primary.btn-sm
                  input#option2(type='radio', name='upper', autocomplete='off', value='middle')
                  |  Middle School
              br
              br
              input#overwriteSubmit.btn.btn-warning.btn-sm(type="submit" form="uploadOverwrite" value="Upload schedule")
            h2 Remove schedule:&nbsp;
            form(id='remove' action="/manage/remove" method="POST")
              input#hiddenDate(value='dateInput' name="date" class='hidden')
              br
              .btn-group(data-toggle='upper')
                label.btn.btn-secondary.btn.btn-primary.btn-sm
                  input#option1(type='radio', name='upper', autocomplete='off', value='upper', checked='')
                  |  Upper School
                label.btn.btn-secondary.btn.btn-primary.btn-sm
                  input#option2(type='radio', name='upper', autocomplete='off', value='middle')
                  |  Middle School
              br
              br
              input#removeSubmit.btn.btn-danger.btn-sm(type="submit" form="remove" value="Remove alternate schedule")
          #schedule(style='display:none')
            h3#date DATE
            table.table-bordered.table#table(style='width:75%')
            h2 Upload PDF for this day:&nbsp;
            form(id='upload' action="/manage/upload" method="POST" enctype="multipart/form-data")
              input#input(type='file' name="altSchedule")
              input#hiddenDate(value='dateInput' name="date" class='hidden')
              br
              .btn-group(data-toggle='upper')
                label.btn.btn-secondary.btn.btn-primary.btn-sm
                  input#option1(type='radio', name='upper', autocomplete='off', value='upper', checked='')
                  |  Upper School
                label.btn.btn-secondary.btn.btn-primary.btn-sm
                  input#option2(type='radio', name='upper', autocomplete='off', value='middle')
                  |  Middle School
            br
            input(type="submit" id="save" form="upload" class="btn btn-success" value="Save")

    script(src='/public/moment/min/moment.min.js')
    script(src='/js/manage.min.js')
    script(type="text/javascript").
      // Why this is not in Angular, I do not know.
      $(function () {
        $('#datepicker').datetimepicker({
          format: 'MM/DD/YYYY'
        });
      });
      $('#datepicker').on('dp.change', function(e) {
        var date = e.date;
        $.get('/api/getFutureDate/' + date.format('MM/DD/YYYY'), function(data) {
          $('#table').html('');
          $('#save').hide();
          $('#specialView').hide();
          $('#specialUpperDiv').hide();
          $('#specialMiddleDiv').hide();
          if (Object.keys(data) == '') {
            $('#date').html(date.format('dddd, D MMMM YYYY') + ' <small>Weekend</small>');
            return;
          }
          $('#date').html(date.format('dddd, D MMMM YYYY') + ' <small>' + Object.keys(data) + ' Week</small>');
          $('input#hiddenDate').attr('value', date.format('MM-DD-YYYY'));
          var dayObj = data[Object.keys(data)[0]];
          //console.log(dayObj);
          if (dayObj.specialUpper || dayObj.specialMiddle) {
            if (parseInt(dayObj.date)) {
              $('#schedule').hide();
              var extra = '.pdf#toolbar=0&navpanes=0&scrollbar=0&view=FitH';
              if (dayObj.specialUpper) {
                $('#upper').html('Upper School Alternate Schedule');
                $('#specialUpperDiv').show();
                $('#specialFrameUpper').attr('src', 'special/upper/' + dayObj.date + '.pdf');
              } 
              if (dayObj.specialMiddle) {
                $('#middle').html('Middle School Alternate Schedule');
                $('#specialMiddleDiv').show();
                $('#specialFrameMiddle').attr('src', 'special/middle/' + dayObj.date + '.pdf');
              }
              $('#specialView').show();  
            }
            return;
          }
          $('#schedule').show();
          $('#save').show();
          $('#table').append('<thead><tr><td>Class</td><td>Start Time</td><td>End Time</td></tr></thead>');
          var day = dayObj.day;
          for (var i = 0; i < day.length; i++) {
            var theClass = day[i];
            $('#table').append('<tr>' +
              '<td>' + theClass.name + '</td>' +
              '<td>' + theClass['start-time'] + '</td>' +
              '<td>' + theClass['end-time'] + '</td>' +
              '</tr>');
          }
        });
      });
    if production
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62800526-2', 'auto');
        ga('send', 'pageview');
