<!DOCTYPE html>
<html ng-app="pgSchedule" lang="en">
  <head>
    <title>Porter-Gaud Schedule | Manage</title>
    <meta name="theme-color" content="red">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="mask-icon" href="pg.svg" color="red">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/manage.min.css">
    <link rel="stylesheet" href="/css/manage.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#" style="color: black"><b>
                  <h4>Manage</h4></b></a></li>
            <li class="active"><a href="#">Alternate Schedules</a></li>
            <li><a href="#">Manage Users</a></li>
          </ul>
        </div>
        <div class="col-sm9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 style="font-size: 150%">Manage Users</h1>
          <hr>
        </div>
      </div>
    </div>
    <script src="/public/moment/min/moment.min.js"></script>
    <script src="/js/manage.min.js"></script>
  </body>
</html>
